<a class="btn btn-primary" routerLink="/form" role="button">Add New Client</a>


<table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead class="thead-light">
    <tr >
            <!-- <th>Client_ID</th> -->
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <!-- <th>Actions</th> -->
    </tr>
</thead>
<tbody class="searchable">
    <tr *ngFor="let client of clients">
            <!-- <td>{{client.clientID}}</td> -->
            <td>{{client.name}}</td>
            <td>{{client.phone}}</td>
            <td>{{client.email}}</td>
            <td>{{client.address}}</td>
        <!-- <td>
            <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
            <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
            <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
        </td> -->
    </tr>
    
          
</tbody>
</table>