<!-- Default form subscription -->
<form class="text-center border border-light p-5" [formGroup]="clientForm" (ngSubmit)="onSubmit()">

        <p class="h4 mb-4">Add New Client</p>

    
        <!-- Name -->
        <input type="text"  formControlName= "name" class="form-control mb-4" placeholder="name">

         <!-- Phone -->
         <input type="text"formControlName= "phone" class="form-control mb-4" placeholder="phone">
    
        <!-- Email -->
        <input type="email" formControlName= "email" class="form-control mb-4" placeholder="email">

         <!-- Address -->
         <input type="text"formControlName= "address" class="form-control mb-4" placeholder="address">
        <!-- Sign in button -->
        <button type="submit">Submit</button>
    
    
    </form>
    <!-- Default form subscription -->

