
     <!-- Page Content -->
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1 class="mt-5">Turntabl Client Management System</h1>
            <p class="lead">Complete with pre-defined file paths and responsive navigation!</p>
            <ul class="list-unstyled">
                <!-- <div class="site-section-cover overlay" style="background-image: url('./hero_1.jpg')"> -->
            
            </ul>
          </div>
        </div>
      </div>
    